

{{ partial:page-banner }}

<section>
  <div class="container grid cols-8-4">
    <div class="col">
      {{ full_bard_2 }}
        {{ partial:bards/full_bard_2 }}
      {{ /full_bard_2 }}
    </div>
    <div class="col">
      {{ partial:form-builder }}
    </div>
  </div>
</section>

{{ canvas }}

  {{ if type == "1_column_section" }}

    {{ partial:canvas/1_column_section }}

  {{ elseif type == "2_column_section" }}

    {{ partial:canvas/2_column_section }}

  {{ elseif type == "3_column_section" }}

    {{ partial:canvas/3_column_section }}

  {{ elseif type == "large_list_section" }}

    {{ partial:canvas/large_list_section }}

  {{ elseif type == "horizontal_tabs_section" }}

    {{ partial:canvas/horizontal_tabs_section }}

  {{ elseif type == "vertical_tabs_section" }}

    {{ partial:canvas/vertical_tabs_section }}

  {{ elseif type == "coloured_columns"}}

    {{ partial:canvas/coloured_columns }}

  {{ elseif type == "spacer" }}

    {{ partial:canvas/spacer }}

  {{ elseif type == "left_overlay_section" }}

    {{ partial:canvas/left_overlay }}

  {{ elseif type == "anchor_pod" }}

    {{ partial:canvas/anchor_pod }}

  {{ /if }}

{{ /canvas }}

{{ if add_contact_form }}
  {{ partial:footer-form-container }}
{{ /if }}
{{ if add_contact_cta }}
  {{ partial:contact-cta }}
{{ /if }}
