{{ if background_image }}

  <style media="screen">
      .no-webp .element-{{ index }} {
        background-image: url('{{ glide:background_image width='450' }}');
      }
      .webp .element-{{ index }} {
        background-image: url('{{ glide:background_image width='450' format='webp' }}');
      }
      @media screen and (min-width: 750px) {
        .no-webp .element-{{ index }} {
          background-image: url('{{ glide:background_image width='1025' }}');
        }
        .webp .element-{{ index }} {
          background-image: url('{{ glide:background_image width='1025' format='webp' }}');
        }
      }
      @media screen and (min-width: 1025px) {
        .no-webp .element-{{ index }} {
          background-image: url('{{ glide:background_image width='1400' }}');
        }
        .webp .element-{{ index }} {
          background-image: url('{{ glide:background_image width='1400' format='webp' }}');
        }
      }
      @media screen and (min-width: 1400px) {
        .no-webp .element-{{ index }} {
          background-image: url('{{ glide:background_image width='2000' }}');
        }
        .webp .element-{{ index }} {
          background-image: url('{{ glide:background_image width='2000' format='webp' }}');
        }
      }
  </style>

{{ /if }}

<section class="overlay-oblong {{ if background_image }}element-{{ index }} {{ /if }}{{ background_colour.label }}" {{ if background_image }}{{ assets:background_image }}style="background-position:{{ focus_css }};"{{ /assets:background_image }}{{ /if }}>

  <div class="container">
    <div class="grid relative">
      <div class="left-overlay bg-grey">
        {{ overlay_text.basic_bard }}
          {{ partial:bards/basic_bard }}
        {{ /overlay_text.basic_bard }}
      </div>
      <div class="right-content{{ if white_text }} white{{ /if }}">
        {{ right_text.full_bard_1 }}
          {{ partial:bards/full_bard_1 }}
        {{ /right_text.full_bard_1 }}
      </div>
    </div>
  </div>

</section>
