
{{ if external_link }}

  <div class="button-wrapper"{{ if center_align }} style="text-align:center;" {{ /if }}>
    <a href="{{ external_link }}" rel="noopener" class="button {{ if white_button }}inverted{{ /if }}{{ if xtra_pad }} xtra-pad {{ /if }} {{ button_colour.label }}" {{ if new_window }}target="_blank"{{ /if }}>{{ button_text }}</a>
  </div>

  {{ elseif link_to }}

    {{ relate:link_to }}
      <div class="button-wrapper"{{ if center_align }} style="text-align:center;" {{ /if }}>
        <a href="{{ url }}" class="button {{ if white_button }}inverted{{ /if }}{{ if xtra_pad }} xtra-pad {{ /if }} {{ button_colour.label }}" {{ if new_window }}target="_blank"{{ /if }}>{{ button_text }}</a>
      </div>
    {{ /relate:link_to }}

  {{ elseif collection_link }}

    {{ relate:collection_link }}
      <div class="button-wrapper"{{ if center_align }} style="text-align:center;" {{ /if }}>
        <a href="{{ url }}" class="button {{ if white_button }}inverted{{ /if }}{{ if xtra_pad }} xtra-pad {{ /if }} {{ button_colour.label }}" {{ if new_window }}target="_blank"{{ /if }}>{{ button_text }}</a>
      </div>
    {{ /relate:collection_link }}

{{ /if }}
