<div class="container no-v-margin">
  <div class="share-links">
    <hr>
    <span class="smallcaps bold">Share</span>
    <a href="https://twitter.com/intent/tweet?text={{ title }}&url={{ current_url }}" title="Share on Twitter" target="_blank" rel="noopener" title="share on twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ current_url }}&summary={{ title }}" title="Share on LinkedIn" target="_blank" rel="noopener" title="share on linkedin"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ current_url }}" title="Share on Facebook" target="_blank" rel="noopener" title="share on facebook"><i class="fab fa-facebook"></i></a>
  </div>
</div>
