
<div class="video-overlay">
  <span id="close-video">&times;</span>
  <div class="vp-width">

    <div class="vp-holder">
      <div class="vp">
        {{ if player_type == "youtube" }}
          <iframe width="560" height="315" src="" data-src="https://www.youtube.com/embed/{{ video_embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ /if }}
        {{ if player_type == "vimeo" }}
          <iframe frameborder="0" allow="autoplay" allowfullscreen src="" data-src="https://player.vimeo.com/video/{{ video_embed }}"></iframe>
        {{ /if }}
      </div>
    </div>

  </div>
</div>
