
<form id="au-contact-form" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post">

  <input type=hidden name="oid" value="00D28000000aUQN">
  <input type=hidden name="retURL" value="https://kineo.com/en-au/thanks-for-getting-in-touch">

  <input type=hidden name="recordTypeId" value="01228000000nD9m">
  <input type=hidden name="Lead_Type__c" value="Corporate">
  <input type=hidden name="lead_source" value="Online enquiry">
  <input type=hidden name="Lead_Source_Subline__c" value="Web form">
  <input type=hidden name="OnlineLeadSource__c" value="kineo.com Online Enquiry">
  <input type=hidden name="Line_of_Business__c" value="Kineo Australia">
  <input type=hidden name="OwnerId" value="00G0K000004eawjUAA">
  <input type=hidden name="Status" value="Pre-qualification">
  <input type=hidden name="EnterprisePlatforms__c" value="False">
  <input type=hidden name="BespokeContent__c" value="False">
  <input type=hidden name="LibraryContent__c" value="False">
  <input type=hidden name="Sitepass__c" value="False">

  <!-- Campaign Fields  -->
  <input type="hidden" name="Campaign_ID" value="7010K000002LvKYQA0"/>
  <input type="hidden" name="member_status" value="Responded" />


  <div class="inputs">

    <div class="input-half">
      <label for="first_name">First Name <span style="color:red;">*</span></label>
      <input type="text" id="first_name" name="first_name" maxlength="40" required>
    </div>

    <div class="input-half">
      <label for="last_name">Last Name <span style="color:red;">*</span></label>
      <input type="text" id="last_name" name="last_name" maxlength="80" required>
    </div>

    <div class="input-half">
      <label for="email">Email <span style="color:red;">*</span></label>
      <input type="email" id="email" name="email" required>
    </div>

    <div class="input-half">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" pattern="[0-9\+\s]{0,20}" title="Please enter only the + sign and 20 numbers maximum">
    </div>

    <div class="input-full">
      <label for="company">Company <span style="color:red;">*</span></label>
      <input type="text" id="company" name="company" maxlength="255" required>
    </div>

    <div class="input-half">
      <label for="country-select">Country <span style="color:red;">*</span></label>
      <select id="country-select" name="country" required>
        <option value="" disabled selected>Please select</option>
        <option value="Australia">Australia</option>
        <option value="New Zealand">New Zealand</option>
      </select>
    </div>

    <div class="input-half au-states active">
      <label for="au-states">State <span style="color:red;">*</span></label>
      <select id="au-states" name="state" required>
        <option value="" disabled selected>Please select</option>
        <option value="ACT">Australian Capital Territory</option>
        <option value="NSW">New South Wales</option>
        <option value="NT">Northern Territory</option>
        <option value="QLD">Queensland</option>
        <option value="SA">South Australia</option>
        <option value="TAS">Tasmania</option>
        <option value="VIC">Victoria</option>
        <option value="WA">Western Australia</option>
      </select>
    </div>

    <div class="input-half nz-states">
      <label for="nz-states">Region</label>
      <select id="nz-states" name="state">
        <option value="" selected>Please select</option>
        <option value="Auckland">Auckland</option>
        <option value="Bay of Plenty">Bay of Plenty</option>
        <option value="Canterbury">Canterbury</option>
        <option value="Gisborne">Gisborne</option>
        <option value="Hawke's Bay">Hawke's Bay</option>
        <option value="Manawatu-Wanganui">Manawatu-Wanganui</option>
        <option value="Marlborough">Marlborough</option>
        <option value="Nelson">Nelson</option>
        <option value="Northland">Northland</option>
        <option value="Otago">Otago</option>
        <option value="Southland">Southland</option>
        <option value="Taranaki">Taranaki</option>
        <option value="Tasman">Tasman</option>
        <option value="Waikato">Waikato</option>
        <option value="Wellington">Wellington</option>
        <option value="West Coast">West Coast</option>
      </select>
    </div>

    <div class="input-full">
      <label for="services">Which service are you most interested in?</label>
      <select name="Services_of_Interest__c" id="services">
        <option value="" selected>Please select</option>
        <option value="Off-the-shelf elearning">Off-the-shelf elearning</option>
        <option value="Learning Platforms">Learning Platforms</option>
        <option value="Custom Content">Custom Content</option>
        <option value="Partnership">Partnership</option>
      </select>
    </div>

    <div class="input-full">
      <label for="message">Message <span style="color:red;">*</span></label>
      <textarea class="full-width" name="description" rows="8" id="message" maxlength="32000" required></textarea>
    </div>

    <div class="input-full">
      <input type="checkbox" id="newsletter" name="pi_subscriber__c" value="TRUE">
      <label class="newsletter-label" for="newsletter">Join over 8000 HR, L&D and WH&S senior leaders for the latest learning insights</label>
    </div>

  </div>

  <input type="submit" value="submit">

</form>
