<div class="cookie-notice">
  {{ if locale == "es" }}
    <div>Utilizamos cookies para mejorar tu experiencia, al navegar este sitio, estás aceptando nuestras cookies. <a href="/cookies">aprende&nbsp;más</a></div>
    <div><span class="button inverted no-arrow" id="accept-gdpr">aceptar</span></div>
  {{ else }}
    <div>We use cookies on this site to enhance your user experience. By using our site, you consent to cookies. <a href="/cookies">Learn&nbsp;more.</a></div>
    <div><span class="button inverted no-arrow" id="accept-gdpr">accept</span></div>
  {{ /if }}
</div>
