<section class="contact-footer" id="form-anchor">

  <div class="container">

    <p class="pre-heading white">{{ footer:pre_heading }}</p>

    <div class="grid cols-4-8 white">

      <div class="col">
        <p class="h3 mt0">{{ footer:heading | widont }}</p>
      </div>

      <div class="col">
        <div class="kineo-form-wrapper --footer">
          {{ if locale == "au" }}
            {{ partial:au-contact-form-webtolead }}
          {{ else }}
            {{ partial:dotdigital-form-footer }}
          {{ /if }}
        </div>
      </div>

    </div>

  </div>

</section>
