
<div class="kineo-form-wrapper --pardot-form --landing-page --black-borders ta-c">

  {{ if form_heading }}<p class="pre-heading">{{ form_heading }}</p>{{ /if }}
  {{ if form_pre_text }}<p>{{ form_pre_text }}</p>{{ /if }}

  <form action="{{ endpoint_url }}" method="post">

    {{ form_builder }}

      {{ if type == "input_text" }}

        <input type="text" name="{{ name }}" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}" {{ if required }}required{{ /if }}>

      {{ elseif type == "input_textarea" }}

        <textarea name="{{ name }}" rows="8" cols="80" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}" {{ if required }}required{{ /if }}></textarea>

      {{ elseif type == "input_email" }}

        <input type="email" name="{{ name }}" placeholder="{{ placeholder }}" aria-label="{{ placeholder }}" {{ if required }}required{{ /if }}>

      {{ elseif type == "input_select" }}

        <select name="{{ name }}" aria-label="{{ placeholder }}" {{ if required }}required{{ /if }}>
          <option value="" disabled selected>{{ placeholder }}</option>
          {{ options }}
            <option value="{{ select_value }}">{{ select_option }}</option>
          {{ /options }}
        </select>

      {{ elseif type == "countries" }}

        {{# put in a pre filled country select #}}

      {{ /if }}

    {{ /form_builder }}

    <input type="submit" name="submit" value="{{ submit_text }}">

  </form>

</div>
